body {
    background-color:  #92B6B1;
}

.search {
    text-align: center;
    font-size: 30px;
}

#search-movies {
        /* height:20px; */
}

.list-container{
    display: flex;
    justify-content: space-around;
}

.results-container {
    text-align: center;
    background-color: #B2C9AB;
    border: 5px black solid;
    margin: 100px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    list-style-position: inside;
}

.list-container ul{
    /* display: flex;
    flex-direction: column; */
    border: 5px black solid;
    /* justify-content: center; */
}

.movieCard {
    background-color: #666A86;
    display: flex;
    flex-direction: column;
    border: 10px goldenrod dotted;
    padding: 10px;
    margin: 30px;
}

.movieCard button {
    background-color: black;
    color: red;
    font-size: 16px;
    padding: 12px;
    margin: 15px;
    transition: background-color .5s ease-in-out 100ms
}

.movieCard button:hover {
    background-color: red ;
    color: black;
}


.btnDivStyle{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin: 30px;
}

ul {
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    list-style-position: inside;
}

ul.watch {
    background-color: #E8DDB5;
    text-align: center;
    list-style-position: inside;
}

ul.seen {
    background-color: #788AA3;
    text-align: center;
    list-style-position: inside;
}

img {
    max-width: 350px; 
    max-height: 350px;
    align-self: center
}